---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';
import Skills from '../components/Skills.astro';
import Skills3 from '../components/Skills3.astro';
import Skills4 from '../components/Skills4.astro';

const projects = (await getCollection('work')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Mes projets | Joan Kerboeuf"
	description="Mes projets les plus récents"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Mes compétences"
				align="start"
			/>
<br>

		</main>
		<Skills4 />
	</div>
</BaseLayout>
