---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="A propos de moi | Joan Kerboeuf" description="A propos de moi">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Mes stages"
				tagline="Découvrez mes stages du BTS."
			>
				<img
					width="1553"
					height="873"
					src="/assets/stage.jpg"
					alt=""
				/>
			</Hero>

			<section>
				<div class="content">	
				  <p class="left-aligned-text">
					<strong>Au cours de ma formation, j'ai eu l'occasion d'effectuer deux stages en entreprise.<br>
					<br>
					Le premier au sein du lycée Maurice Ravel, basée à Paris 20ème dans le <strong style="font-size: 1.5em;">si</strong> de l'établissement.<br>
					Au cours de mon deuxième stage, qui s'est déroulé dans la même école, j'ai été chargé de tâches plus complexes que lors de mon premier stage.</strong>
				  </p>
				</div>
			  </section>
			  
			
			<section>
				<h2 class="section-title">Première année</h2>
				<div class="content">
					<p>
						<img
					width="700"
					height="250"
					src="/assets/MR.jpg"
					alt=""
				/>
				<img
				width="700"
				height="250"
				src="/assets/tache.jpg"
				alt=""
			/>
				<img
				width="700"
				height="250"
				src="/assets/script2.jpg"
				alt=""
			/>
				<img
				width="700"
				height="250"
				src="/assets/intervention.jpg"
				alt=""
			/>
				<img
				width="700"
				height="250"
				src="/assets/reparation.jpg"
				alt=""
			/>
					</p>
				
				</div>
				
			</section>
			<section>
				<h2 class="section-title">Deuxieme année</h2>
				<div class="content">
					<p>
						<img
					width="700"
					height="250"
					src="/assets/jb.jpg"
					alt=""
				/>
				<img
				width="700"
				height="250"
				src="/assets/tache.jpg"
				alt=""
			/>
				<img
				width="700"
				height="250"
				src="/assets/script2.jpg"
				alt=""
			/>
				<img
				width="700"
				height="250"
				src="/assets/intervention.jpg"
				alt=""
			/>
				<img
				width="700"
				height="250"
				src="/assets/reparation.jpg"
				alt=""
			/>
					</p>

				</div>
			</section>
			
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
